/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  .remove-button {
    background: none;
    border: none;
    color: rgb(222, 103, 103);
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .remove-button:hover {
    color: darkred;
  }
  .add-button {
    background: none;
    border: none;
    color: #369;
    cursor: pointer;
    font-size: 1.2em;
    align-items: center;
    gap: 0.em;
  }
  
  .add-button:hover {
    color: #369;
  }